# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.bin
.cache
.dist
.next
dist
out

# folders
.idea

# dependencies
node_modules
.idea
.pnp
.pnp.js

# testing
coverage

# logs
*.log

build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# local env files
.env
.env.*
!.env.example

# custom
.tsbuildinfo
tsconfig.tsbuildinfo

.metadata
.project
.tproject

certs/local*.pem

.vscode/**
!.vscode/extensions.json
!.vscode/settings.default.json
